<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="userLogin.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="userLogin.password"></ion-input>
    </ion-item>
    <ion-text class="ion-text-right">
      <p>Esqueceu a senha?</p>
    </ion-text>
    <ion-button (click)="doLogin()" expand="full" color="primary">Login</ion-button>
  </form>

  <ion-row style="height: 30px"></ion-row>

  <ion-button expand="full" color="primary">
    <ion-icon slot="start" name="logo-facebook"></ion-icon>
    Login com o Facebook
  </ion-button>
  <ion-button expand="full" color="danger">
    <ion-icon slot="start" name="logo-googleplus"></ion-icon>
    Login com o Google
  </ion-button>
  <ion-text class="ion-text-center">
    <p>Ou então <a [routerLink]="['/cadastro']" routerDirection="forward" >cadastre-se!</a></p>
  </ion-text>

  <ion-img src="../../assets/wize-logo.png" style="height: 100px"></ion-img>

</ion-content>